<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout">
<head>
    <title layout:title-pattern="$DECORATOR_TITLE - $CONTENT_TITLE">JMonitaur</title>
    <link rel="stylesheet"
          th:href="@{/css/app.css}"
          href="../../css/app.css"/>
</head>
<body>
<div class="container">
    <h1 layout:fragment="header">Layout</h1>
    <div layout:fragment="content">
        Fake content
    </div>
</div>
<div id="site_footer" style="font-size: 9pt;">
    Footer
</div>
</body>
</html>