<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
      layout:decorator="layout">
<head>
    <title>Status</title>
</head>
<body>
<h1 layout:fragment="header">Statuses</h1>
<div layout:fragment="content" class="container">
    <table class="table table-bordered table-striped">
        <thead>
        <tr>
            <td>Status</td>
            <td>System</td>
            <td>Description</td>
        </tr>
        </thead>
        <tbody>
        <tr th:if="${statuses.empty}">
            <td colspan="3">
                No statuses
            </td>
        </tr>
        <tr th:each="status : ${statuses}">
            <td th:text="${status.level}">1</td>
            <td th:text="${status.systemId}">1</td>
            <td th:text="${status.description}">1</td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>
